.menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
}

.menu-category {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border: 2px solid black;
    border-radius: 15px;
    padding: 1em;

}

.menu-item h4 {
    font-size: 1.5em;
}

.menu-item img {
    width: 100%;
}

.menu-item .price-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em
}